## ASSIGNMENT-1
### *PROBLEM 1*

In [1]:
name = 'Suman Roy'

In [3]:
age= 18

In [4]:
has_android_phone=True

In [5]:
name,age,has_android_phone

('Suman Roy', 18, True)

In [15]:
person= dict(Name =name,Age=age,HasAndroidPhone= has_android_phone)

In [18]:
print("{} is aged {}, and owns an {}".format(
person['Name'],
person['Age'],
"Has Android phone" if person['HasAndroidPhone']else "iphone"))

Suman Roy is aged 18, and owns an Has Android phone

In [19]:
# this is optional
person.keys()

dict_keys(['Name', 'Age', 'HasAndroidPhone'])

In [20]:
for x in person.keys():
    print(type(x))

<class 'str'>
<class 'str'>
<class 'str'>

### *PROBLEM 2*

In [27]:
my_list =['Red',0,True]

In [24]:
my_list[0]

'Red'

In [28]:
print('My favourite color is',my_list[0])

My favourite color is Red

In [30]:
print("I have {} pet(s)".format(my_list[1]))

I have 0 pet(s)

In [31]:
if my_list[2] :
    print("I have previous experience of coding")
else:
    print("I have no experience")

I have previous experience of coding

In [32]:
my_list.append(2)

In [33]:
my_list[3]

2

In [38]:
my_list.remove(0)

In [39]:
my_list

['Red']

In [42]:
print("now the list has {} element(s)". format (len(my_list)))

now the list has 1 element(s)

### *PROBLEM 3*

In [78]:
import numpy as np

In [79]:
numbers=np.arange(21,533,7)

In [64]:
numbers.sum()

20461

In [65]:
numbers

array([ 21,  28,  35,  42,  49,  56,  63,  70,  77,  84,  91,  98, 105,
       112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196,
       203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287,
       294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378,
       385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469,
       476, 483, 490, 497, 504, 511, 518, 525, 532])

In [83]:
numbers1= range(18,533)

In [86]:
result = 0
for x in numbers1 :
    ego = x%7
    if bool(ego):
        result +=0
    else:
        result +=x
result
print("SUM OF THE ALL THE NUMBERS IS", result)

SUM OF THE ALL THE NUMBERS IS 20461

### *PROBLEM 4*

In [94]:
cost= 5000
passengers = 29
ticket = 200
def plane(cost, passengers,ticket):
    profit= (passengers*ticket)-cost
    return profit

print("The net profit of the plane company ${}".format(profit))

The net profit of the plane company $800

#### *OPTIONAL DOSE*

In [98]:
passengers = 12
if passengers == 12:
    print("company makes an overall lose of ${}".format(plane(5000,12,200)))
else:
    print("company makes an overall profit of ${}".format(plane(5000,29,200)))

company makes an overall lose of $-2600

### *PROBLEM 5*

In [2]:
tweets = [
    "Wow, what a great day today!! #sunshine",
    "I feel sad about the things going on around us. #covid19",
    "I'm really excited to learn Python with @JovianML #zerotopandas",
    "This is a really nice song. #linkinpark",
    "The python programming language is useful for data science",
    "Why do bad things happen to me?",
    "Apple announces the release of the new iPhone 12. Fans are excited.",
    "Spent my day with family!! #happy",
    "Check out my blog post on common string operations in Python. #zerotopandas",
    "Freecodecamp has great coding tutorials. #skillup"
]

In [3]:
number_of_tweets= len(tweets)

In [4]:
number_of_tweets

10

In [5]:
happy_words=['great','excited','happy','nice','wondrrful','amazimg','good','best']

In [10]:
sad_words=['sad','bad','tragic','unhappy','worst']

In [7]:
sample_tweet=tweets[0]

In [8]:
sample_tweet

'Wow, what a great day today!! #sunshine'

In [12]:
is_tweet_happy=False

for word in happy_words:
    if word in sample_tweet:
        is_tweet_happy=True

In [13]:
is_tweet_happy

True

In [17]:
y=range(0,10)

In [29]:
number_of_happy_tweets=0
for word in happy_words:
    for x in y:
        if word in tweets[x]:
            number_of_happy_tweets+=1
        else:
            number_of_happy_tweets+=0

print("total number of happy tweets is :",number_of_happy_tweets)

total number of happy tweets is : 6

In [30]:
number_of_sad_tweets=0
for word in sad_words:
    for x in y:
        if word in tweets[x]:
            number_of_sad_tweets+=1
        else:
            number_of_sad_tweets+=0

print("total number of sad tweets is :",number_of_sad_tweets)

total number of sad tweets is : 2

In [31]:
happy_tweet_fraction=number_of_happy_tweets/number_of_tweets

In [32]:
print('the fraction of happy tweets is :',happy_tweet_fraction)

the fraction of happy tweets is : 0.6

In [33]:
sad_tweet_fraction=number_of_sad_tweets/number_of_tweets

In [34]:
print('the number of sad tweets is :',sad_tweet_fraction)

the number of sad tweets is : 0.2

In [36]:
sentiment_score= number_of_happy_tweets-number_of_sad_tweets

In [37]:
print("The sentiment score for the given tweets is :", sentiment_score)

The sentiment score for the given tweets is : 4

In [45]:
number_of_neutral_tweets=0
for word in happy_words or sad_words : 
    for x in y:
        if word in tweets[x]:
            number_of_neutral_tweets+=0
        else:
            number_of_neutral_tweets+=1

print("total number of neutral tweets is :",number_of_neutral_tweets)

total number of neutral tweets is : 74

In [51]:
neutral_fraction=number_of_neutral_tweets/number_of_tweets

In [52]:
print('number of neutral tweets is :',neutral_fraction)

number of neutral tweets is : 7.4

#### *MY ASSIGNMENT ENDS HERE*